*{
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
}
  
  
@media (min-width: 768px) and (max-width: 992px) {
}
  
  
@media (min-width: 992px) {
}
  
header{
    background-color: #90a005;
    padding: 5px;
    box-shadow: 0px 6px 15px;
}

.logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

nav{
    text-align: center;
}

body{
    background-color:#02193b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a{
    text-align: center;
    color: #083c8a;
    font-size: 22px;
    text-decoration: none;
    padding: 60px;
}

ul{
    padding: 27px;
    font-size: 25px; 
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
}

h3{
    text-align: center;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
}


p{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
}

ul{
    text-align: left;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
    text-align: left;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h5{
    text-align: center;
    padding: 18px;
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    padding: 30px;
    font-size: 16px;
    text-align: center;
}